$gg-sans: "gg sans", sans-serif;

$bg-1: hsl(240, 5%, 7%); // actual background
$bg-2: hsl(240, 7%, 11%); // chat background
$bg-3: hsl(240, 5%, 15%); // message hover background
$popup-container: hsl(249, 9%, 15%);
$popup-border: hsl(248, 6%, 24%);

$border: hsl(240, 4%, 14%);
$box-shadow: hsla(0, 0%, 100%, 0.13);

$text-1: hsl(0, 0%, 95%);
$text-2: hsl(0, 0%, 70%);

$primary-1: hsl(72, 71%, 50%);
$primary-2: hsl(72, 71%, 25%);

$danger: hsl(0, 50%, 60%);
$warning: hsl(60, 50%, 60%);
$success: hsl(120, 50%, 60%);
$info: hsl(240, 50%, 60%);

$white: hsl(0, 0%, 98%);