.channel-list {
  $_sidebar-gap: .62rem;

  @include flex(start, center, column);
  @include hideScroll;
  gap: $_sidebar-gap;
  padding-block: $_sidebar-gap;
  width: 70px;
  height: 100%;
  background: $bg-1;

  max-height: 100dvh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .devider {
    display: block;
    width: 50%;
    min-height: 1px;
    background: $border;
  }
  
  .channel {
    position: relative;
    @include flex;
    width: 100%;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 3px;
      border-radius: 0 $_sidebar-gap $_sidebar-gap 0;
      height: 7px;
      transition: height .2s ease;
    }

    &.add-channel::before,
    &.explore::before {
      content: none;
    }

    &.selected::before,
    &.notifications::before {
      background: $white;
    }

    &.selected::before {
      height: 100%;
    }

    &.notifications::before {
      height: 7px;
    }

    &.hovered::before {
      background: $white;
      height: 50%;
    }

    &.private-messages.selected .channel-icon,
    &.explore.selected .channel-icon {
      background: $discord-accent;
      transition: background .2s ease;
    }
    
    &.private-messages .channel-icon,
    &.add-channel .channel-icon,
    &.explore .channel-icon {
      transition: background .2s ease;

      &:hover {
        background: $discord-accent;
        transition: background .2s ease;
      }

      &:active {
        transform: translateY(1px);
      }
    }

    .channel-icon {
      position: relative;
      @include flex;
      aspect-ratio: 1;
      width: 55%;
      border-radius: .7rem;
      background: hsl(240, 2%, 12%);
      border: none;
      overflow: clip;
      cursor: pointer;

      img {
        object-fit: cover;
      }

      i {
        color: $white;

        &.fa-discord {
          font-size: 1.2rem;
        }

        &.fa-circle-plus,
        &.fa-compass {
          font-size: 1.1rem;
        }
      }
    }
  }
}

#createChannelPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#createChannelPopup:popover-open {
  background: $popup-container;
  border: 1px solid $popup-border;
  padding: 1rem 24px;
  border-radius: 10px;
}

#createChannelPopup::backdrop {
  background: rgba(0, 0, 0, 0.7);
}