.main-chat {
  position: relative;
  flex: 1;
  background: $bg-2;

  .topbar {
    @include flex(space-between);
    position: sticky;
    top: 0;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid $border;
    padding-inline: 1rem;

    .left {
      @include flex;
      gap: .62rem;
      
      i {
        color: hsl(300, 1%, 66%);
        font-size: 1rem;
      }
      
      .channel-tab-name {
        color: $white;
        font-family: $gg-sans-medium;
        font-size: .97rem;
        user-select: none;
      }
    }
    
    .right {
      @include flex;
      gap: 1.25rem;

      i {
        color: hsl(247, 4%, 60%);
        transition: color .2s ease;
        cursor: pointer;

        &:hover {
          color: hsl(253, 6%, 68%);
          transition: color .2s ease;
        }

        &.fa-reel {
          transform: rotate(45deg);
        }
      }

      .search {
        position: relative;
        
        input {
          font-family: $gg-sans-medium !important;
          width: 240px;
          border: 1px solid hsl(240, 6%, 20%);
          background: hsl(240, 9%, 10%);
          border-radius: .55rem;
          padding: .4rem .5rem;
          outline: none;
          color: $white;

          &::placeholder {
            color: hsl(247, 5%, 38%);
          }
        }

        input[type="search"]::-webkit-search-decoration,
        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-results-button,
        input[type="search"]::-webkit-search-results-decoration {
          display: none;
        }

        i {
          position: absolute;
          top: 50%;
          right: .5rem;
          transform: translateY(-50%);
          font-size: .8rem;
        }
      }
    }
  }
}